@import '~@fluentui/react/dist/sass/References.scss';

.overviewOfApplications {
  overflow: hidden;
  padding: 1em;
  color: "[theme:bodyText, default: #323130]";
  color: var(--bodyText);
  &.teams {
    font-family: $ms-font-family-fallbacks;
  }
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.column {
  width: 50%;
  padding: 15px;
}

.links {
  a {
    text-decoration: none;
    color: "[theme:link, default:#03787c]";
    color: var(--link); // note: CSS Custom Properties support is limited to modern browsers only

    &:hover {
      text-decoration: underline;
      color: "[theme:linkHovered, default: #014446]";
      color: var(--linkHovered); // note: CSS Custom Properties support is limited to modern browsers only
    }
  }
}

.apps {
  display: flex;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  padding: 2%;
  background-color: #034c87;
  color: white;
}

.layout{
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.info {
  font-size: 12px;
}

.customContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customTextContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}